nav.navbar.navbar-default
  .container
    .navbar-header
      p.navbar-brand DAILY JOURNAL
    ul.nav.navbar-nav.navbar-right
      li#home
        a(href="#") HOME
      li#about
        a(href="#") ABOUT US
      li#contact
        a(href="#") CONTACT US