include _header
body
  .container
    h1 Compose
    form(action="/compose", method="post")
      .form-group
        label(for="title") Title:
        input.form-control(type="text" name ="title")
        label(for="text") Post:
        textarea.form-control(name="text" placeholder="Compose your Journal Entry")
        button.btn.btn-primary.mt-3(type="submit") Publish
  include _footer